@import '../../../node_modules/antd/dist/antd.css';

#layout .trigger {
    /* font-size: 18px; */
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#layout .trigger:hover {
    color: #1890ff;
}

#sider-component .logo {
    height: 32px;
    /* background: rgba(255, 255, 255, 0.2); */
    text-align: center;
    margin: 16px;
}

#sider-component {
    text-align: initial;
}

#content-layout {
    text-align: center;
}

.bold-text {
    font-weight: bolder;
}

.second-table {
    background-color: whitesmoke;
}