@import '../node_modules/antd/dist/antd.css';

h1 {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  display: block;
}

.App-header {

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-activities {
  font-size: 1em;
  text-align: initial;
  padding: 20px;
}

.description {
  position: relative;
  display: inline-block;
  width: 90%;
}

.points {
  position: relative;
  display: inline-block;
  width: 10%;
}

.ant-progress-circle-trail {
  stroke: rgb(200, 200, 200) !important;
}

.not-logged {
  text-align: center;
}

.selected-card {
  border: 10px solid #a0d911;
}

.greyed-card {
  background-color: gray;
  opacity: .7;
  cursor: not-allowed;
}

.clickable-card {
  cursor: pointer;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.center_div {

  width: 100%;
  height: 100%;
  left: 15%;
  right: 25%;
  text-align: center;
}